.container {
  height: 750px;
  margin: auto;
  padding-top: 15%;
}

.logoBox {
  text-align: center;
}

.logo1 {
  font-size: 70px;
  color: white;
}

.logo {
  font-size: 70px;
  color: white;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.search {
  width: 60%;
  height: 50px;
  padding-left: 20px;
  border: 0;
  border-radius: 30px;
}

.searchBtn {
  margin-left: 10px;
  width: 50px;
  border: 0;
  border-radius: 30px;
  background-color: white;
}