.main {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.container {
  height: 1000px;
  margin: auto;
  margin-top: 20%;
}

.logoBox {
  text-align: center;
}

.logo1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.logo2 {
  width: 30%;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.searchBox {
  display: flex;
  flex-grow: 1;
  width: auto;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  @media screen and (min-width: 512px) and (max-width: 1024px) {
    width: 300px;
  }
  @media screen and (min-width: 1025px) {
    width: 700px;
  }
  height: 50px;
  margin-top: 10px;
  margin-left: 150px;
  padding-left: 20px;
  border: 0;
  border-radius: 30px;
}

.searchBtn {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.kindBox {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
}

.kindItem {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: 0 10px;
  background-color: white;
  opacity: 0.8;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kindItem:hover {
  transform: scale(1.2);
  transition: all 0.15s linear;
}
